[phases.setup]
nixPkgs = ["python310"]

[phases.install]
cmds = ["pip install -r requirements.txt"]

[phases.build]
cmds = ["python build_index.py"]

[start]
cmd = "uvicorn main:app --host 0.0.0.0 --port $PORT"
